*{
    margin: 0;
}

body {
    background-color: rgba(182, 26, 182, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.soundboard.title{
    margin-top: 1rem;
    margin-bottom: 10rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.keys{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    margin-top:5rem;
    margin-bottom: 10rem;
}

.key{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.7rem;
    margin: auto 1rem;
    width: 12rem;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: white;
    text-shadow: 0 0 0.2rem black;
    background: rgba(0,0,0,0.4);
    transition: all 0.7s ease;
}

.playing{
    transform: scale(1.1);
    border-color:blueviolet;
    box-shadow: 0 0 1rem blueviolet;
}



kbd{
    font-size: 4rem;
    color: white;
}

h1{
    font-size: 5rem;
}
h3{
    font-size: 2.5rem;
}
h1,h3{
    color:  rgba(118, 6, 192, 1);
}